# Basic Data Types

In [1]:
# Defining a Variable
x = 120
print(x)

120

In [2]:
x # it show the variable conent in notebooks

120

In [3]:
lx # As the error said, it's not defined yet.

NameError: name 'lx' is not defined

In [4]:
name = "Daniel"
type(name)

str

In [5]:
# Numbers 
type(10)

int

In [6]:
type(10.0)

float

In [8]:
type(2j)

complex

In [11]:
# Strings
'Daniel 1 ' + 'Daniel 2'

'Daniel 1 Daniel 2'

In [12]:
'1' + '1'

'11'

In [14]:
'1' + 1 # Error - not possible to concatenate string with integer

TypeError: can only concatenate str (not "int") to str

# Data Structures

In [10]:
# List

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [12]:
my_list = ['This', 'is', 'a', 'list', 'of', 'strings']

In [13]:
my_list = [1, 2, 3, 'This', 'is', 'a', 'list', 'of', 'strings']

In [15]:
my_list = [1, False, 2, 3, 'This', 'is', 'a', 'list', 'of', 'strings', True]

In [17]:
len(my_list) # length of the list

11

In [19]:
# Sets

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
type(my_set)

set

In [21]:
len(my_set)

5

In [23]:
my_set = {1, 2, 3, 4, 5, 5, 5, 5, 5}
len(my_set)
print(my_set)

{1, 2, 3, 4, 5}

In [24]:
[1,2] == [2,1] # False cuz the order is different

False

In [25]:
{1,2} == {2,1} # True cuz the order doesn't matter

True

In [27]:
# Tuples
my_tuple = (1, 2, 3, 4, 5)
len(my_tuple)

5

In [28]:
(1, 2) == (2, 1) # False cuz the order is different

False

In [29]:
my_list.append(10)
print(my_list)

[1, False, 2, 3, 'This', 'is', 'a', 'list', 'of', 'strings', True, 10]

In [30]:
my_tuple.append(10) # Error - Tuple doesn't have append method

AttributeError: 'tuple' object has no attribute 'append'

Why would you use tuples?
If computer knows that you can add things onto a list, that is going to increce in size and python will try to prealocate a larger chunk of memory.

With tuples, you're never going to be able to add to them, in other words it uses the exactly amount of memory it needs.

- They are memory efficient
- Good for sorting lots of little things like coordinates.

In [6]:
# Dictionaries