# Basic Data Types

In [1]:
# Defining a Variable
x = 120
print(x)

120

In [2]:
x # it show the variable conent in notebooks

120

In [3]:
lx # As the error said, it's not defined yet.

NameError: name 'lx' is not defined

In [4]:
name = "Daniel"
type(name)

str

In [5]:
# Numbers 
type(10)

int

In [6]:
type(10.0)

float

In [8]:
type(2j)

complex

In [11]:
# Strings
'Daniel 1 ' + 'Daniel 2'

'Daniel 1 Daniel 2'

In [12]:
'1' + '1'

'11'

In [14]:
'1' + 1 # Error - not possible to concatenate string with integer

TypeError: can only concatenate str (not "int") to str